{% extends "base_user.html" %}

{% block content %}
{% for clef, graph in rides %}
    <div class="container has-text-centered">
        <div class="columns is-vcentered">

           {{graph|safe}}

            <div class="column is-6 is-offset-1">
                <h1 class="title is-2">
                    Find a name for this ride ...
                </h1>
                <h2 class="subtitle is-4">
                    {% for key, value in details.items() %}
                      {% if key == clef %}
                        {{value|safe}}
                      {% endif %}
                    {% endfor %}
                </h2>
                <br>
                <p class="has-text-centered">
                    <a class="button is-medium is-info is-outlined">
                        Learn more
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}
